USE [master]
GO
/****** Object:  Database [RandevuAppDb]    Script Date: 28.01.2026 15:44:10 ******/
CREATE DATABASE [RandevuAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RandevuAppDb', FILENAME = N'D:\sql 2022\MSSQL16.SQLEXPRESS02\MSSQL\DATA\RandevuAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RandevuAppDb_log', FILENAME = N'D:\sql 2022\MSSQL16.SQLEXPRESS02\MSSQL\DATA\RandevuAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RandevuAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RandevuAppDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28.01.2026 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hizmetler]    Script Date: 28.01.2026 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hizmetler](
	[hizmet_id] [int] IDENTITY(1,1) NOT NULL,
	[hizmet_adi] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hizmet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[randevular]    Script Date: 28.01.2026 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[randevular](
	[randevu_id] [int] IDENTITY(1,1) NOT NULL,
	[randevu_adi] [varchar](50) NOT NULL,
	[randevu_soyadi] [varchar](50) NOT NULL,
	[randevu_hizmet_id] [int] NOT NULL,
	[randevu_tarih] [datetime] NOT NULL,
	[randevu_olusturulma_zamani] [datetime] NOT NULL,
	[telefon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[randevu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sms]    Script Date: 28.01.2026 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sms](
	[sms_id] [int] IDENTITY(1,1) NOT NULL,
	[sms_zaman] [datetime] NOT NULL,
	[sms_tip] [char](1) NOT NULL,
	[sms_mesaj] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sms_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[hizmetler] ON 

INSERT [dbo].[hizmetler] ([hizmet_id], [hizmet_adi]) VALUES (1, N'Saç Kesimi')
INSERT [dbo].[hizmetler] ([hizmet_id], [hizmet_adi]) VALUES (2, N'Sakal')
INSERT [dbo].[hizmetler] ([hizmet_id], [hizmet_adi]) VALUES (3, N'Cilt Bakımı')
SET IDENTITY_INSERT [dbo].[hizmetler] OFF
GO
SET IDENTITY_INSERT [dbo].[randevular] ON 

INSERT [dbo].[randevular] ([randevu_id], [randevu_adi], [randevu_soyadi], [randevu_hizmet_id], [randevu_tarih], [randevu_olusturulma_zamani], [telefon]) VALUES (1, N'sinan', N'misir', 2, CAST(N'2026-01-26T17:26:38.017' AS DateTime), CAST(N'2026-01-26T20:27:01.317' AS DateTime), NULL)
INSERT [dbo].[randevular] ([randevu_id], [randevu_adi], [randevu_soyadi], [randevu_hizmet_id], [randevu_tarih], [randevu_olusturulma_zamani], [telefon]) VALUES (2, N'sinan', N'misir', 3, CAST(N'2026-01-26T17:26:38.017' AS DateTime), CAST(N'2026-01-26T20:56:39.280' AS DateTime), NULL)
INSERT [dbo].[randevular] ([randevu_id], [randevu_adi], [randevu_soyadi], [randevu_hizmet_id], [randevu_tarih], [randevu_olusturulma_zamani], [telefon]) VALUES (3, N's', N's', 2, CAST(N'2026-01-26T19:34:00.000' AS DateTime), CAST(N'2026-01-26T22:34:24.487' AS DateTime), N'555')
SET IDENTITY_INSERT [dbo].[randevular] OFF
GO
SET IDENTITY_INSERT [dbo].[sms] ON 

INSERT [dbo].[sms] ([sms_id], [sms_zaman], [sms_tip], [sms_mesaj]) VALUES (1, CAST(N'2026-01-26T19:23:56.223' AS DateTime), N'1', N'Doğrulama kodunuz: 6875')
INSERT [dbo].[sms] ([sms_id], [sms_zaman], [sms_tip], [sms_mesaj]) VALUES (2, CAST(N'2026-01-26T19:30:54.573' AS DateTime), N'1', N'Doğrulama kodunuz: 5342')
INSERT [dbo].[sms] ([sms_id], [sms_zaman], [sms_tip], [sms_mesaj]) VALUES (3, CAST(N'2026-01-26T19:33:53.907' AS DateTime), N'1', N'Doğrulama kodunuz: 7646')
SET IDENTITY_INSERT [dbo].[sms] OFF
GO
ALTER TABLE [dbo].[randevular] ADD  DEFAULT (getdate()) FOR [randevu_olusturulma_zamani]
GO
ALTER TABLE [dbo].[sms] ADD  DEFAULT (getdate()) FOR [sms_zaman]
GO
ALTER TABLE [dbo].[randevular]  WITH CHECK ADD  CONSTRAINT [FK_randevular_hizmetler] FOREIGN KEY([randevu_hizmet_id])
REFERENCES [dbo].[hizmetler] ([hizmet_id])
GO
ALTER TABLE [dbo].[randevular] CHECK CONSTRAINT [FK_randevular_hizmetler]
GO
USE [master]
GO
